.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;

}
body {
  background-color: #0E3013;
  color: white;

}

header {
  background-color: #040F0F;
  color: #E8E8E9;
}

footer {
  background-color: #040F0F;
  color: #E8E8E9;
}

form {
  background-color: #0E3013;
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
  padding: 20px;
}

select {
  background-color: #E8E8E9;
  color: #0E3013;
}

button1 {
  background-color: #289944;
  color: #E8E8E9;
  border: 3px;
  border-style: solid;
  border-radius: 50%;
  border-color: #E8E8E9;
  padding: 10px;
}
.div-header {
  background-color: #656665;
  color: #E8E8E9;
  border: #040F0F;
  border-style: solid;
  border-width: 5px;
  max-width: 100%;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  
}

.image-text {
  position: absolute;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
  bottom: 0;
  color: #E8E8E9;
  max-width: 100%;
}
.image-text-wrapper {
  position: relative;
  max-width: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;


}

.image-text-wrapper img {
  width: 225px;
  height: 225px;
  object-fit: cover;
}

.grid-list {
  display: inline-block;
  height: 225px;
  width: 225px;
  margin: 5px;
}

.grid-image {
  height:225px;
  width: 225px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.md-image-text-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.md-image-cover {
  object-fit: cover;
}

.md-image-text {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #E8E8E9;
  width: 100%;
  padding: 20px;
}

.md-ingredient-display {
  text-align: left;
  margin: 20px;
  margin-bottom: 60px;
}

.md-ingredient-header {
  margin-bottom: 40px;
  color: #E8E8E9;
  background-color: #289944;
  border: 3px solid #E8E8E9;
  border-radius: 10px;
  width: 450px;
  padding: 5px;
  text-align: center;
}

.md-ingredient-ol {
  display: inline-block;
  text-align: left;
}

.md-ingredient-display li {
  text-indent: 5px;
  text-transform: capitalize;
}

.md-recipe-instructions {
  text-align: left;
  list-style-position: inside;
  margin: 20px;
  margin-bottom: 60px;
}


.md-instructions-header {
  margin-bottom: 40px;
  color: #E8E8E9;
  background-color: #289944;
  border: 3px solid #E8E8E9;
  border-radius: 10px;
  width: 200px;
  padding: 5px;
  text-align: center;
}

.video-container {
  margin-bottom: 60px;
}

aside {
  margin: 20px;
}